@model IndexViewModel

<div>
    @foreach (var link in Model.Links)
    {
        <p>@link.Title (@link.Url) - @link.Abstract | @string.Join(",", link.Tags.Select(t => t.Label))</p> <a asp-controller="Links" asp-action="Update" asp-route-id="@link.ID">Edit</a>
    }
</div>

@section scripts {
    <script src="~/js/dist/index.js" asp-append-version="true"></script>
}
